{% extends 'base.html' %}

{% block content %}
<div class='row justify-content-center'>
        {% for anunt in anunturi %}
            <div class='card blue-grey darken-1'>
                <div class='card-content white-text'>
                    <span class='card-title'>{{anunt.created_by.companie}}</span>
                
                <p>{{anunt.titlu}}</p>
                <p>{{anunt.descriere}}</p>
            </div>
            <div class='card-action'>
                <a href={% url 'anunt_detail' anunt.pk %}>View</a>
                {% if user.is_authenticated and user.angajat_profile %}
                <a href="nimictzeapa">Aplica</a>
                {% endif %}
                {% if user.is_authenticated and user.recruiter_profile and anunt.created_by == user.recruiter_profile %}
                <a href={% url 'anunt_delete' anunt.pk %}>Delete</a>
                <a href={% url 'anunt_edit' anunt.pk %}>Edit</a>
                {% endif %}
            </div>
            </div>
        {% endfor %}
</div>
{% endblock %}